.contacts__inner-wrapper {
  display: flex;
  gap: 100px;

  @media (max-width: $tablet) {
    gap: 34px;
  }

  @media (max-width: $mobile) {
    flex-direction: column-reverse;
    gap: 43px;
  }
}

.contacts__map iframe {
  @media (max-width: $tablet) {
    width: 324px;
    height: 335px;
  }

  @media (max-width: $mobile) {
    width: 290px;
    height: 316px;
  }
}

.contacts__content-wrapper {
  align-self: center;
}

.contacts__content-wrapper p {
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  margin: 0;
  padding: 0;
  margin-bottom: 31px;

  @media (max-width: $tablet) {
    margin-bottom: 26px;
  }
}

.contacts__content-wrapper address {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 20px;
  position: relative;
  display: flex;
  gap: 10px;
  align-items: center;

  &::before {
    content: "";
    width: 18px;
    height: 22px;
    background-image: url("../icons/sprite.svg#marker-icon");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @media (max-width: $tablet) {
      width: 30px;
    }
  }
}

.contacts__content-wrapper a {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--default-font-color);
  display: flex;
  gap: 10px;
  align-items: center;


  &::before {
    content: "";
    width: 18px;
    height: 18px;
    background-image: url("../icons/sprite.svg#phone-icon");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}
