.contacts__inner-wrapper {
  display: grid;
  gap: 100px;
  width: 100%;
  grid-template-columns: auto 1fr;

  @media (max-width: $tablet) {
    gap: 30px;
  }

  @media (max-width: $mobile) {
    gap: 43px;
    grid-template-columns: auto;
  }
}

.contacts__map iframe {
  @media (min-width: $desktop) and (max-width: 1365px) {
    width: 100%;
  }

  @media (max-width: $tablet) {
    width: 324px;
    height: 335px;
  }

  @media (max-width: $mobile) {
    width: 100%;
    height: 316px;
  }
}

.contacts__map-wrapper {
  width: 50%;

  @media (max-width: $mobile) {
    width: 100%;
    grid-row: 2;
  }
}

.contacts__content-wrapper {
  align-self: center;
  padding-top: 20px;

  @media (max-width: $mobile) {
    width: auto;
    padding-top: 0;
    grid-row-start: 1;
  }
}

.contacts__content-wrapper p {
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  margin: 0;
  padding: 0;
  margin-bottom: 31px;

  @media (max-width: $tablet) {
    margin-bottom: 28px;
  }
}

.contacts__content-wrapper address {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 20px;
  position: relative;
  display: grid;
  grid-template-columns: min-content auto;
  gap: 10px;
  align-items: baseline;

  &::before {
    content: "";
    width: 18px;
    height: 22px;
    background-image: url("../icons/sprite.svg#marker-icon");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    align-self: flex-start;

    @media (min-width: $desktop) and (max-width: 1200px) {
      width: 22px;
    }

    @media (max-width: $tablet) {
      width: 20px;
      height: 29px;
      background-size: 40px;
    }
  }
}

.contacts__content-wrapper a {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--default-font-color);
  display: inline-grid;
  grid-template-columns: min-content auto;
  gap: 10px;
  align-items: center;
  margin-bottom: 20px;


  &::before {
    content: "";
    width: 18px;
    height: 18px;
    background-image: url("../icons/sprite.svg#phone-icon");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    flex-shrink: 0;
  }
}
