.cruises h2 {
  font-weight: 600;
  font-size: 28px;
  line-height: 150%;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-bottom: 49px;

  @media (max-width: $tablet) {
    margin-bottom: 48px;
  }

  @media (max-width: $mobile) {
    font-size: 24px;
    margin-bottom: 32px;
  }
}

.cruises ul {
  margin: 0;
  padding: 0;
}

.cruises__item {
  display: grid;
}

.cruises > ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, 260px);
  align-items: center;
  gap: 30px;
  justify-content: center;

  @media (max-width: $tablet) {
    grid-template-columns: 309px 309px;
    justify-items: start;
    justify-content: center;
  }

  @media (max-width: $mobile) {
    grid-template-columns: none;
    padding: 0;
  }
}

.cruises li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.cruises__wrapper--front {
  display: grid;
  z-index: 1;
  grid-row: 1/-1;
  grid-column: 1/-1;
}

.cruises__img-wrapper {
  grid-row: 1 / -1;
  grid-column: 1 / -1;
}

.cruises__img-wrapper img {
  object-fit: cover;
  min-width: 260px;
  width: 100%;

  @media (max-width: $tablet) {
    min-width: 309px;
    height: 386px;
  }

  @media (max-width: $mobile) {
    min-width: 270px;
    height: 386px;
  }
}

.cruises__wrapper--front h3 {
  grid-row: 1 / -1;
  grid-column: 1 / -1;
  margin: auto 33px 22px;
  padding: 0;
  font-size: 18px;
  line-height: 150%;
  color: var(--default-white-color);

  @media (max-width: $tablet) {
    margin: auto 40px 26px;
    font-size: 19px;
  }

  @media (max-width: $mobile) {
    margin: auto 26px 16px;
  }
}

.cruises__wrapper--back {
  background-color: var(--default-font-color);
  padding: 27px 25px 30px;
  width: 260px;
  display: flex;
  flex-direction: column;
  height: 386px;
  overflow-y: scroll;
  overflow-x: hidden;
  grid-area: 1/-1;
  grid-column: 1/-1;
  z-index: 0;

  @media (max-width: $tablet) {
    min-width: 309px;
    padding: 29px 35px;
  }

  @media (max-width: $mobile) {
    min-width: 270px;
    padding: 29px 25px;
  }
}

.cruises__wrapper--back ul {
  display: grid;
  grid-auto-flow: row;
  gap: 10px;
  margin-bottom: 20px;
}

.cruises__wrapper--back h3 {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: var(--default-white-color);
  margin-bottom: 13px;
}

.cruises__wrapper--back h4 {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  color: var(--default-white-color);
  margin-bottom: 3px;
}

.cruises__wrapper--back p {
  margin: 0;
  padding: 0;
  color: var(--cruises-card-gray-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
}

.cruises__wrapper--back a {
  font-family: "Montserrat", "Arial", sans-serif;
  color: var(--default-font-color);
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  padding: 9px;
  background-color: var(--default-white-color);
  min-width: 210px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-top: auto;
  margin-bottom: auto;
  user-select: none;

  &:hover {
    opacity: 0.8;
  }
}

.cruises__item:hover .cruises__wrapper--front {
  z-index: 0;
}

.cruises__item:focus-within .cruises__wrapper--front {
  z-index: 0;
}

.cruises__item:focus-within .cruises__wrapper--back {
  z-index: 2;
}

.cruises__item:hover .cruises__wrapper--back {
  z-index: 2;
}
