.footer {
  background-color: var(--default-font-color);
}

.footer__inner-wrapper {
  display: grid;
  gap: 37px;
  align-items: start;
  grid-template-columns: min-content 1fr auto;

  @media (max-width: $tablet) {
    gap: 25px;
  }

  @media (max-width: $mobile) {
    gap: 32px;
    grid-template-columns: auto;
  }
}

.footer__nav {
  margin-right: auto;
}

.footer__nav ul {
  min-width: 596px;

  @media (max-width: $tablet) {
    margin-top: 0;
    min-width: 442px;
  }

  @media (max-width: $mobile) {
    gap: 0;
    min-width: inherit;
  }
}

.footer__nav li {
  @media (max-width: $mobile) {
    margin: 0;
  }
}

.footer__social ul {
  justify-content: end;
  margin: 0;
  padding: 0;
  display: grid;
  gap: 31px;
  margin-top: 10px;
  min-width: 120px;
  max-width: 300px;
  grid-template-columns: auto auto auto;

  @media (max-width: $tablet) {
    gap: 14px;
    margin-top: 0;
    min-width: 90px;
  }

  @media (max-width: $mobile) {
    justify-content: start;
  }
}

.footer__social li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__social a {
  display: block;
}
