.logo__wrapper img {
  max-width: none;

  @media (max-width: $tablet) {
    width: 38px;
    height: 20px;
  }
}

.logo__wrapper--hide {
  @media (max-width: $mobile) {
    display: none;
  }
}

.logo__wrapper-blue {
  display: none;
}

.logo__wrapper-blue--shown {
  @media (max-width: $mobile) {
    position: absolute;
    z-index: 3;
    left: 18px;
    top: 20px;
  }
}
