.page {
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-style: normal;
  font-weight: 400;
  color: var(--default-font-color);
  scroll-behavior: smooth;
}

.page__leveler {
  @media (min-width: $desktop) {
    margin: 0 auto;
    width: 1160px;
  }

  @media (max-width: $tablet) {
    margin: 0 45px;
  }

  @media (max-width: $mobile) {
    margin: 0 15px;
  }
}

.page__body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  min-height: 100vh;
}

.page__header {
  padding: 35px 0 0;

  @media (max-width: $mobile) {
    padding: 20px 0 0;
  }
}

.page__footer {
  padding: 47px 0;

  @media (max-width: $mobile) {
    padding: 40px 0;
  }
}

.page__travel {
  padding-top: 400px;
  padding-bottom: 120px;

  @media (max-width: $tablet) {
    padding-bottom: 100px;
    padding-top: 380px;
  }

  @media (max-width: $mobile) {
    padding-top: 250px;
  }
}

.page__features {
  margin-bottom: 120px;
  padding: 120px 0;

  @media (max-width: $tablet) {
    margin-bottom: 102px;
    padding: 100px 0;
  }

  @media (max-width: $mobile) {
    margin-bottom: 65px;
    padding: 65px 0;
  }
}

.page__cruises {
  padding-bottom: 120px;

  @media (max-width: $tablet) {
    padding-bottom: 100px;
  }

  @media (max-width: $tablet) {
    padding-bottom: 65px;
  }
}

.page__booking {
  padding: 50px 163px;

  @media (max-width: $tablet) {
    padding: 100px;
  }

  @media (max-width: $mobile) {
    padding: 65px 15px;
  }
}

.page__contacts {
  padding: 120px 0;

  @media (max-width: $tablet) {
    padding: 100px 0;
  }

  @media (max-width: $mobile) {
    padding: 65px 0;
  }
}
