.social__link {
  &::before {
    content: "";
    width: 20px;
    height: 20px;
    display: flex;
    background-color: var(--default-white-color);
    mask-size: 20px;
  }
}

.social__link--facebook {
  &::before {
    mask: url("../../icons/sprite.svg#social-icon-facebook") no-repeat center;

  }
}

.social__link--instagram {
  &::before {
    mask: url("../../icons/sprite.svg#social-icon-instagram") no-repeat center;

  }
}

.social__link--twitter {
  &::before {
    mask: url("../../icons/sprite.svg#social-icon-twitter") no-repeat center;

  }
}
