//colors
:root {
  --default-font-color: #011c40;
  --default-white-color: #f9fbfd;
  --bg-blue-color: #d9e6f4;
  --cruises-card-gray-color: #d8d8d9;
}
//media

$desktop: 1180px;
$tablet: 1179px;
$mobile: 767px;
